<div class="text-center">
    <div id="portfolio" class="container pt-5 col-12 overflow-hidden">
        <div class="row text-center">
            <p class="col-12 display-4"> <small> Our Portfolio </small> </p>
        </div>
        <div class="row">
            <div class=" container text-center">
                <div class="col-3 d-inline m-0 p-0"></div>
                <div class="col-4 container text-center pb-3">
                    <div class="col text-center d-inline m-2 py-1 text-light" style="background-color: royalblue; border-radius: 20px;">
                        <p class="d-inline"> ALL </p>
                    </div>
                    <div class="col d-inline text-center m-2 py-1 text-primary" style="background-color: lightblue; border-radius: 20px;">
                        <p class="d-inline"> APP </p>
                    </div>
                    <div class="col d-inline text-center m-2 py-1 text-primary" style="background-color: lightblue; border-radius: 20px;">
                        <p class="d-inline"> CARD </p>
                    </div>
                    <div class="col d-inline text-center m-2 py-1 text-primary" style="background-color: lightblue; border-radius: 20px;">
                        <p class="d-inline"> WEB </p>
                    </div>
                </div>
                <div class="col-3 d-inline m-0 p-0"></div>
            </div>
        </div>
    </div>
</div>
