<div id="team" class="container pt-5 mb-5 col-12 overflow-hidden">
    <div class="container col-12 text-center">  
        <p class="display-4"> <small> Team </small> </p>
    </div>
    <div class="container col-6 text-center">
        <p> <small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum, praesentium totam rem eum obcaecati
            enim, illum  eum obcaecati enim, illum </small> </p>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="assets/images/team-1.jpg" class="rounded-circle img-fluid">
        </div>
        <div class="col">
            <img src="assets/images/team-2.jpg" class="rounded-circle img-fluid">
        </div>
        <div class="col">
            <img src="assets/images/team-3.jpg" class="rounded-circle img-fluid">
        </div>
        <div class="col">
            <img src="assets/images/team-4.jpg" class="rounded-circle img-fluid">
        </div>
        <div class="col"></div>
    </div>
</div>

<div id="team" class="container pb-5 pt-5 col-12 overflow-hidden" style="box-shadow: inset 0px 11px 8px -10px #BBB, inset 0px -11px 8px -10px #BBB; background-color: lightblue;">
    <div class="container col-12 text-center">
        <p class="display-4"> <small> Our Client </small> </p>
    </div>
    <div class="container col-6 text-center">
        <p> <small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum, praesentium totam rem eum obcaecati
            enim, illum  eum obcaecati enim, illum </small> </p>
    </div>
    <div class="row m-0 p-0">
        <div class="col m-0 p-0"></div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-1.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-2.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-3.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-4.png" class="img-fluid">
        </div>
        <div class="col m-0 p-0"></div>
    </div>
    <div class="row m-0 p-0 mt-1">
        <div class="col m-0 p-0"></div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-5.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-6.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-7.png" class="img-fluid">
        </div>
        <div class="col p-3 ml-1 bg-light">
            <img src="assets/images/clients/client-8.png" class="img-fluid">
        </div>
        <div class="col m-0 p-0"></div>
    </div>
</div>