<div class="container col-12 bg-primary pt-5 pb-5 overflow-hidden">
    <div class="row">
        <div class="col m-0 ml-5">
            <div class="row m-0 p-0">
                <div class="col text-uppercase display-4 text-light">
                    <small class="font-weight-light"> Welcome</small>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col text-light">
                    <small class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                        inventore saepe in debitis aspernatur laborum, obcaecati velit provident, libero totam rem
                        dolore
                        rerum laboriosam sapiente eveniet quo enim sed. Sunt!</small>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <div class="row">
                <div class="col text-uppercase text-light">
                    <small class="font-weight-bold"> Usefull Links</small>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-uppercase text-light">
                    <small class="font-weight-light"> Home </small>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-light">
                    <small class="font-weight-light"> About Us </small>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-light">
                    <small class="font-weight-light"> Services </small>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-light">
                    <small class="font-weight-light"> Terms of service </small>
                </div>
            </div>
            <div class="row my-2">
                <div class="col text-light">
                    <small class="font-weight-light"> Privacy policy </small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mb-4">
                <div class="col text-uppercase text-light">
                    <small class="font-weight-bold"> Contact Us </small>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-lg-6 text-light font-weight-light">
                    A108 Adam Street New York, NY 535022 United States
                </div>
            </div>
            <div class="row">
                <div class="col text-light font-weight-light">
                    <b> Phone: </b> +1 5589 55488
                </div>
            </div>
            <div class="row">
                <div class="col text-light font-weight-light">
                    <b> Email: </b> info@example.com
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 align-self-center">
                    <a class="btn mr-1 btn-social-icon rounded-circle" style="background-color: lightblue;"
                        href="http://google.com/+"><i class="fa fa-google-plus fa-xs"></i></a>
                    <a class="btn mr-1 btn-social-icon rounded-circle" style="background-color: lightblue;"
                        href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-xs"></i></a>
                    <a class="btn mr-1 btn-social-icon rounded-circle" style="background-color: lightblue;"
                        href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-xs"></i></a>
                    <a class="btn mr-1 btn-social-icon rounded-circle" style="background-color: lightblue;"
                        href="http://twitter.com/"><i class="fa fa-twitter fa-xs"></i></a>
                    <a class="btn btn-social-icon rounded-circle" style="background-color: lightblue;"
                        href="http://instagram.com/"><i class="fa fa-instagram fa-xs"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="row mb-4">
                <div class="col text-uppercase text-light">
                    <small class="font-weight-bold"> Our NewsLetter </small>
                </div>
            </div>
            <div class="row">
                <div class="col text-light">
                    <small class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                        inventore saepe in debitis aspernatur laborum, obcaecati velit provident, libero totam rem
                        dolore
                        rerum laboriosam sapiente eveniet quo enim sed. Sunt!</small>
                </div>
            </div>
            <div class="row mt-4">
                <span>
                    <span class="input-group">
                        <input type="text" style="height: 100%;">
                        <span class="input-group-btn">
                            <button style="background-color: lightblue; border: 0; height: 100%;" type="button">Subscribe</button>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container col-12 overflow-hidden" style="background-color: mediumblue;">
    <div class="row p-2 text-light">
        <div class="col text-center">
            &copy; Copyright .All Rights Reserved
        </div>
        <div class="float-right">
            <div class="rounded-circle arrowUp bg-primary">
                <a href="#home"> 
                    <i class="fa fa-chevron-up m-3 text-light fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .arrowUp:hover{
        cursor: pointer;
    }
</style>