
<div class="row col-9">
    <div class="col-3">
        <img class="d-block img-fluid rounded-circle" src="{{person.avatar}}">
    </div>
    <div class="col">
        <div class="row m-0 p-0">
            <p class="font-weight-bold m-0 p-0">{{person.first_name}} {{person.last_name}}</p>
            <div class="col"></div>
        </div>
        <div class="row m-0 p-0">
            <p class="text-dark"> {{person.email}}</p>
            <div class="col"></div>
        </div>
        <div class="row m-0 p-0">
            <p class="text-dark" style="text-align:left"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo amet esse debitis, itaque suscipit obcaecati accusantium, tempora libero, molestias  </p>
            
        </div>
    </div>
</div>