<div id="aboutus" class="container pt-5 col-12 overflow-hidden">
    <div class="container col-12 text-center">
        <p class="display-4"> <small> About Us </small> </p>
    </div>
    <div class="container col-6 text-center">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum, praesentium totam rem eum obcaecati
            enim, illum, dolorem id dolorum rerum ad sequi culpa neque deleniti natus accusantium! Quo, veniam. </p>
    </div>
    <div class="container col-12 overflow-hidden">
        <div class="col-md-5 col-12 float-left">
            <div class="col-12">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vel exercitationem, cum, eligendi
                aliquam dicta temporibus fuga quae ex animi voluptatem facere voluptas earum odio sapiente. Neque
                asperiores labore excepturi.
            </div>
            <div class="container mt-3 col-12">
                <div class="col-2 float-left mt-3">
                    <i class="fa fa-shopping-bag fa-1x p-3"
                        style="border: 1.5px rgb(8, 115, 238) solid; border-radius: 50%; color: rgb(8, 115, 238);"></i>
                </div>
                <div class="container col-9">
                    <div class="col-12 mb-0">
                        <p><b> Eiusmod Tempor </b></p>
                    </div>
                    <div class="col-12 mt-0 font-smaller">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ab magnam asperiores
                            mollitia reprehenderit vel, sapiente nulla </p>
                    </div>
                </div>
            </div>
            <div class="container mt-3 col-12">
                <div class="col-2 float-left mt-3">
                    <i class="fa fa-picture-o fa-1x p-3"
                        style="border: 1.5px rgb(8, 115, 238) solid; border-radius: 50%; color: rgb(8, 115, 238);"></i>
                </div>
                <div class="container col-9">
                    <div class="col-12 mb-0">
                        <p><b> Magni Dolores </b></p>
                    </div>
                    <div class="col-12 mt-0 font-smaller">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ab magnam asperiores
                            mollitia reprehenderit vel, sapiente nulla </p>
                    </div>
                </div>
            </div>
            <div class="container mt-3 col-12">
                <div class="col-2 float-left mt-3">
                    <i class="fa fa-bar-chart fa-1x p-3"
                        style="border: 1.5px rgb(8, 115, 238) solid; border-radius: 50%; color: rgb(8, 115, 238);"></i>
                </div>
                <div class="container col-9">
                    <div class="col-12 mb-0">
                        <p><b> Dolor Sitema </b></p>
                    </div>
                    <div class="col-12 mt-0 font-smaller">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ab magnam asperiores
                            mollitia reprehenderit vel, sapiente nulla </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 d-md-block d-none mb-5 float-right" style="margin-right: 10%;">
            <img style="width:100%; height: 100%;" src="assets/images/about-img.svg" />
        </div>
    </div>

    <div class="container col-12 overflow-hidden">
        <div class="col-5 d-none d-md-block">

            <div class="container mt-5 float-left col-12 ">
                <img style="width:100%; height: 100%;" src="assets/images/about-extra-1.svg" />
            </div>
        </div>
        <div class="container col-md-6 col-12 float-right mt-5">
            <div class="col-12">
                <p class="font-weight-bolder" style="font-size:xx-large;"> Voluptatem dignissimos provident quasi
                    corporis voluptates sit assumenda </p>
            </div>
            <div class="col-md-9 col-12">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam numquam id aspernatur quia saepe
                    facere aliquam similique ut delectus autem, reprehenderit placeat porro architecto quibusdam cumque
                    eos illum exercitationem excepturi? </p>
            </div>
            <div class="col-md-9 col-12">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta beatae nemo ipsum perferendis cum!
                    Ipsa veniam, tenetur, ducimus totam expedita fugiat exercitationem aut ipsum placeat doloribus,
                    ullam nam ut hic? </p>
            </div>
        </div>
    </div>

    <div class="container col-12 overflow-hidden">
        <div class="container col-md-6 col-12 float-left mt-5">
            <div class="col-12">
                <p class="font-weight-bolder" style="font-size:xx-large;"> Neque Saepe temporibus repellat ea ipsum et.
                    Id vel et quia tempora facere reprehenderit </p>
            </div>
            <div class="col-md-9 col-12">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam numquam id aspernatur quia saepe
                    facere aliquam similique ut delectus autem, reprehenderit placeat porro architecto quibusdam cumque
                    eos illum exercitationem excepturi? </p>
            </div>
            <div class="col-md-9 col-12">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta beatae nemo ipsum perferendis cum!
                    Ipsa veniam, tenetur, ducimus totam expedita fugiat exercitationem aut ipsum placeat doloribus,
                    ullam nam ut hic? </p>
            </div>
            <div class="col-md-9 col-12">
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta beatae nemo ipsum perferendis cum!
                    Ipsa veniam, tenetur, ducimus totam expedita fugiat exercitationem aut ipsum placeat doloribus,
                    ullam nam ut hic? </p>
            </div>
        </div>
        <div class="col-5 float-right d-none d-md-block">

            <div class="container mt-5 col-12 " style="margin-right: 10%;">
                <img style="width:100%; height: 100%;" src="assets/images/about-extra-2.svg" />
            </div>
        </div>
    </div>
    
</div>

<div class="bg-primary text-center mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 text-light pt-4">
                <p style="font-size:xx-large;"> Why choose us? </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center text-light pt-4">
                <p class="col-12" style="font-size: medium;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam natus commodi dolore omnis sequi ipsa pariatur. </p>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row p-5">
            <div class="col-3 text-center container part pb-3">
                <div class="row text-center">
                    <i class="col-12 fa fa-diamond fa-3x p-3" style="color: white;"></i>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: larger;"> Corporis dolorem </p>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: x-small;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, sit! Dicta repudiandae, vel debitis voluptatibus tempora sed porro minima ullam. </p>
                </div>
                <div class="row">
                    <a class="col-12 text-light" style="font-size: medium;"> Read more. </a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 text-center container part pb-3">
                <div class="row text-center">
                    <i class="col-12 fa fa-language fa-3x p-3" style="color: white;"></i>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: larger;"> Voluptate dolores </p>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: x-small;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, sit! Dicta repudiandae, vel debitis voluptatibus tempora sed porro minima ullam. </p>
                </div>
                <div class="row">
                    <a class="col-12 text-light" style="font-size: medium;"> Read more. </a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 text-center container part pb-3">
                <div class="row text-center">
                    <i class="col-12 fa fa-object-group fa-3x p-3" style="color: white;"></i>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: larger;"> Eum ut aspernatur </p>
                </div>
                <div class="row">
                    <p class="col-12 text-light" style="font-size: x-small;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, sit! Dicta repudiandae, vel debitis voluptatibus tempora sed porro minima ullam. </p>
                </div>
                <div class="row">
                    <a class="col-12 text-light" style="font-size: medium;"> Read more. </a>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="container col-2">
                <div class="text-center row m-0 p-0">
                    <p class="m-0 p-0 col-12 text-light font-weight-bold" style="font-size: xx-large;"> 274 </p>
                </div>
                <div class="row text-center container m-0 p-0">
                    <p class="col-12 text-light font-weight-light" style="font-size: small;"> clients </p>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="container col-2">
                <div class="text-center row m-0 p-0">
                    <p class="m-0 p-0 col-12 text-light font-weight-bold" style="font-size: xx-large;"> 421 </p>
                </div>
                <div class="row text-center container m-0 p-0">
                    <p class="col-12 text-light font-weight-light" style="font-size: small;"> Projects </p>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="container col-2">
                <div class="text-center row m-0 p-0">
                    <p class="m-0 p-0 col-12 text-light font-weight-bold" style="font-size: xx-large;"> 1,364 </p>
                </div>
                <div class="row text-center container m-0 p-0">
                    <p class="col-12 text-light font-weight-light" style="font-size: small;"> Hours of support </p>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="container col-2">
                <div class="text-center row m-0 p-0">
                    <p class="m-0 p-0 col-12 text-light font-weight-bold" style="font-size: xx-large;"> 18 </p>
                </div>
                <div class="row text-center container m-0 p-0">
                    <p class="col-12 text-light font-weight-light" style="font-size: small;"> Hard Workers </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .part{
        background-color: rgb(0, 89, 255);
    }
</style>